{
  "apiKey": "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX",
  "dbFullpath": "http://admin:password@localhost:5984",
  "httpPort": 8001,
  "coinMarketCapApiKey": "XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX"
}
